/* ----------------------------------------
Variables
---------------------------------------- */
/* ----------------------------------------
Mixins
---------------------------------------- */
/* ----------------------------------------
Base Styles
---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
  a img {
    outline: none; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 960px;
  margin: 0 auto; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 32px; } }
/* ----------------------------------------
Column Styles
---------------------------------------- */
.col {
  display: block;
  width: 100%;
  float: left;
  padding: 10px; }
  .col.no-padding {
    padding: 0; }
  .col.twelfth {
    width: 8.333%; }
  .col.twelfth-x11 {
    width: 91.666%; }
  .col.sixth {
    width: 16.666%; }
  .col.sixth-x5 {
    width: 83.333%; }
  .col.fourth {
    width: 25%; }
  .col.fourth-x3 {
    width: 75%; }
  .col.third {
    width: 33.333%; }
  .col.third-x2 {
    width: 66.666%; }
  .col.half {
    width: 50%; }
  .col.margin-twelfth {
    margin-left: 8.333%; }
  .col.margin-twelfth-x11 {
    margin-left: 91.666%; }
  .col.margin-sixth {
    margin-left: 16.666%; }
  .col.margin-sixth-x5 {
    margin-left: 83.333%; }
  .col.margin-fourth {
    margin-left: 25%; }
  .col.margin-fourth-x3 {
    margin-left: 75%; }
  .col.margin-third {
    margin-left: 33.333%; }
  .col.margin-third-x2 {
    margin-left: 66.666%; }
  .col.margin-half {
    margin-left: 50%; }
  .col.float-right {
    float: right; }
    .col.float-right.margin-twelfth {
      margin-left: initial;
      margin-right: 8.333%; }
    .col.float-right.margin-twelfth-x11 {
      margin-left: initial;
      margin-right: 91.666%; }
    .col.float-right.margin-sixth {
      margin-left: initial;
      margin-right: 16.666%; }
    .col.float-right.margin-sixth-x5 {
      margin-left: initial;
      margin-right: 83.333%; }
    .col.float-right.margin-fourth {
      margin-left: initial;
      margin-right: 25%; }
    .col.float-right.margin-fourth-x3 {
      margin-left: initial;
      margin-right: 75%; }
    .col.float-right.margin-third {
      margin-left: initial;
      margin-right: 33.333%; }
    .col.float-right.margin-third-x2 {
      margin-left: initial;
      margin-right: 66.666%; }
    .col.float-right.margin-half {
      margin-left: initial;
      margin-right: 50%; }

@media only screen and (max-width: 1024px) {
  .col.twelfth, .col.twelfth-x11, .col.sixth, .col.sixth-x5, .col.fourth, .col.fourth-x3, .col.third, .col.third-x2, .col.half {
    width: 100%; }
  .col.margin-twelfth, .col.margin-twelfth-x11, .col.margin-sixth, .col.margin-sixth-x5, .col.margin-fourth, .col.margin-fourth-x3, .col.margin-third, .col.margin-third-x2, .col.margin-half {
    margin: initial; }
  .col.twelfth-md {
    width: 8.333%; }
  .col.twelfth-x11-md {
    width: 91.666%; }
  .col.sixth-md {
    width: 16.666%; }
  .col.sixth-x5-md {
    width: 83.333%; }
  .col.fourth-md {
    width: 25%; }
  .col.fourth-x3-md {
    width: 75%; }
  .col.third-md {
    width: 33.333%; }
  .col.third-x2-md {
    width: 66.666%; }
  .col.half-md {
    width: 50%; }
  .col.margin-twelfth-md {
    margin-left: 8.333%; }
  .col.margin-twelfth-x11-md {
    margin-left: 91.666%; }
  .col.margin-sixth-md {
    margin-left: 16.666%; }
  .col.margin-sixth-x5-md {
    margin-left: 83.333%; }
  .col.margin-fourth-md {
    margin-left: 25%; }
  .col.margin-fourth-x3-md {
    margin-left: 75%; }
  .col.margin-third-md {
    margin-left: 33.333%; }
  .col.margin-third-x2-md {
    margin-left: 66.666%; }
  .col.margin-half-md {
    margin-left: 50%; }
  .col.float-right.margin-twelfth-md {
    margin-left: initial;
    margin-right: 8.333%; }
  .col.float-right.margin-twelfth-x11-md {
    margin-left: initial;
    margin-right: 91.666%; }
  .col.float-right.margin-sixth-md {
    margin-left: initial;
    margin-right: 16.666%; }
  .col.float-right.margin-sixth-x5-md {
    margin-left: initial;
    margin-right: 83.333%; }
  .col.float-right.margin-fourth-md {
    margin-left: initial;
    margin-right: 25%; }
  .col.float-right.margin-fourth-x3-md {
    margin-left: initial;
    margin-right: 75%; }
  .col.float-right.margin-third-md {
    margin-left: initial;
    margin-right: 33.333%; }
  .col.float-right.margin-third-x2-md {
    margin-left: initial;
    margin-right: 66.666%; }
  .col.float-right.margin-half-md {
    margin-left: initial;
    margin-right: 50%; } }
@media only screen and (max-width: 768px) {
  .col.twelfth-md, .col.twelfth-x11-md, .col.sixth-md, .col.sixth-x5-md, .col.fourth-md, .col.fourth-x3-md, .col.third-md, .col.third-x2-md, .col.half-md {
    width: 100%; }
  .col.margin-twelfth-md, .col.margin-twelfth-x11-md, .col.margin-sixth-md, .col.margin-sixth-x5-md, .col.margin-fourth-md, .col.margin-fourth-x3-md, .col.margin-third-md, .col.margin-third-x2-md, .col.margin-half-md {
    margin: initial; }
  .col.twelfth-sm {
    width: 8.333%; }
  .col.twelfth-x11-sm {
    width: 91.666%; }
  .col.sixth-sm {
    width: 16.666%; }
  .col.sixth-x5-sm {
    width: 83.333%; }
  .col.fourth-sm {
    width: 25%; }
  .col.fourth-x3-sm {
    width: 75%; }
  .col.third-sm {
    width: 33.333%; }
  .col.third-x2-sm {
    width: 66.666%; }
  .col.half-sm {
    width: 50%; }
  .col.margin-twelfth-sm {
    margin-left: 8.333%; }
  .col.margin-twelfth-x11-sm {
    margin-left: 91.666%; }
  .col.margin-sixth-sm {
    margin-left: 16.666%; }
  .col.margin-sixth-x5-sm {
    margin-left: 83.333%; }
  .col.margin-fourth-sm {
    margin-left: 25%; }
  .col.margin-fourth-x3-sm {
    margin-left: 75%; }
  .col.margin-third-sm {
    margin-left: 33.333%; }
  .col.margin-third-x2-sm {
    margin-left: 66.666%; }
  .col.margin-half-sm {
    margin-left: 50%; }
  .col.float-right.margin-twelfth-sm {
    margin-left: initial;
    margin-right: 8.333%; }
  .col.float-right.margin-twelfth-x11-sm {
    margin-left: initial;
    margin-right: 91.666%; }
  .col.float-right.margin-sixth-sm {
    margin-left: initial;
    margin-right: 16.666%; }
  .col.float-right.margin-sixth-x5-sm {
    margin-left: initial;
    margin-right: 83.333%; }
  .col.float-right.margin-fourth-sm {
    margin-left: initial;
    margin-right: 25%; }
  .col.float-right.margin-fourth-x3-sm {
    margin-left: initial;
    margin-right: 75%; }
  .col.float-right.margin-third-sm {
    margin-left: initial;
    margin-right: 33.333%; }
  .col.float-right.margin-third-x2-sm {
    margin-left: initial;
    margin-right: 66.666%; }
  .col.float-right.margin-half-sm {
    margin-left: initial;
    margin-right: 50%; } }
@media only screen and (max-width: 480px) {
  .col.twelfth-sm, .col.twelfth-x11-sm, .col.sixth-sm, .col.sixth-x5-sm, .col.fourth-sm, .col.fourth-x3-sm, .col.third-sm, .col.third-x2-sm, .col.half-sm {
    width: 100%; }
  .col.margin-twelfth-sm, .col.margin-twelfth-x11-sm, .col.margin-sixth-sm, .col.margin-sixth-x5-sm, .col.margin-fourth-sm, .col.margin-fourth-x3-sm, .col.margin-third-sm, .col.margin-third-x2-sm, .col.margin-half-sm {
    margin: initial; }
  .col.twelfth-xs {
    width: 8.333%; }
  .col.twelfth-x11-xs {
    width: 91.666%; }
  .col.sixth-xs {
    width: 16.666%; }
  .col.sixth-x5-xs {
    width: 83.333%; }
  .col.fourth-xs {
    width: 25%; }
  .col.fourth-x3-xs {
    width: 75%; }
  .col.third-xs {
    width: 33.333%; }
  .col.third-x2-xs {
    width: 66.666%; }
  .col.half-xs {
    width: 50%; }
  .col.margin-twelfth-xs {
    margin-left: 8.333%; }
  .col.margin-twelfth-x11-xs {
    margin-left: 91.666%; }
  .col.margin-sixth-xs {
    margin-left: 16.666%; }
  .col.margin-sixth-x5-xs {
    margin-left: 83.333%; }
  .col.margin-fourth-xs {
    margin-left: 25%; }
  .col.margin-fourth-x3-xs {
    margin-left: 75%; }
  .col.margin-third-xs {
    margin-left: 33.333%; }
  .col.margin-third-x2-xs {
    margin-left: 66.666%; }
  .col.margin-half-xs {
    margin-left: 50%; }
  .col.float-right.margin-twelfth-xs {
    margin-left: initial;
    margin-right: 8.333%; }
  .col.float-right.margin-twelfth-x11-xs {
    margin-left: initial;
    margin-right: 91.666%; }
  .col.float-right.margin-sixth-xs {
    margin-left: initial;
    margin-right: 16.666%; }
  .col.float-right.margin-sixth-x5-xs {
    margin-left: initial;
    margin-right: 83.333%; }
  .col.float-right.margin-fourth-xs {
    margin-left: initial;
    margin-right: 25%; }
  .col.float-right.margin-fourth-x3-xs {
    margin-left: initial;
    margin-right: 75%; }
  .col.float-right.margin-third-xs {
    margin-left: initial;
    margin-right: 33.333%; }
  .col.float-right.margin-third-x2-xs {
    margin-left: initial;
    margin-right: 66.666%; }
  .col.float-right.margin-half-xs {
    margin-left: initial;
    margin-right: 50%; } }
/* ----------------------------------------
Site Styles
---------------------------------------- */
