.col {
    display: block;
    width: 100%;
    float: left;
    padding: $column-padding;
    &.no-padding {
        padding: 0;
    }
    &.twelfth {
        width: 8.333%;
    }
    &.twelfth-x11 {
        width: 91.667%;
    }
    &.sixth {
        width: 16.667%;
    }
    &.sixth-x5 {
        width: 83.333%;
    }
    &.fourth {
        width: 25%;
    }
    &.fourth-x3 {
        width: 75%;
    }
    &.third {
        width: 33.333%;
    }
    &.third-x2 {
        width: 66.667%;
    }
    &.half {
        width: 50%;
    }
    &.margin-twelfth {
        margin-left: 8.333%;
    }
    &.margin-twelfth-x11 {
        margin-left: 91.667%;
    }
    &.margin-sixth {
        margin-left: 16.667%;
    }
    &.margin-sixth-x5 {
        margin-left: 83.333%;
    }
    &.margin-fourth {
        margin-left: 25%;
    }
    &.margin-fourth-x3 {
        margin-left: 75%;
    }
    &.margin-third {
        margin-left: 33.333%;
    }
    &.margin-third-x2 {
        margin-left: 66.667%;
    }
    &.margin-half {
        margin-left: 50%;
    }
    &.float-right {
        float: right;
        &.margin-twelfth {
            margin-left: initial;
            margin-right: 8.333%;
        }
        &.margin-twelfth-x11 {
            margin-left: initial;
            margin-right: 91.667%;
        }
        &.margin-sixth {
            margin-left: initial;
            margin-right: 16.667%;
        }
        &.margin-sixth-x5 {
            margin-left: initial;
            margin-right: 83.333%;
        }
        &.margin-fourth {
            margin-left: initial;
            margin-right: 25%;
        }
        &.margin-fourth-x3 {
            margin-left: initial;
            margin-right: 75%;
        }
        &.margin-third {
            margin-left: initial;
            margin-right: 33.333%;
        }
        &.margin-third-x2 {
            margin-left: initial;
            margin-right: 66.667%;
        }
        &.margin-half {
            margin-left: initial;
            margin-right: 50%;
        }
    }
}
@media only screen and (max-width: $tablet-landscape-breakpoint) {
    .col:not(.#{$tablet-landscape-col}) {
        &.twelfth, &.twelfth-x11, &.sixth, &.sixth-x5, &.fourth, &.fourth-x3, &.third, &.third-x2, &.half {
            width: 100%;
        }
        &.margin-twelfth, &.margin-twelfth-x11, &.margin-sixth, &.margin-sixth-x5, &.margin-fourth, &.margin-fourth-x3, &.margin-third, &.margin-third-x2, &.margin-half {
            margin: initial;
        }
    }
}
@media only screen and (max-width: $tablet-portrait-breakpoint) {
    .col:not(.#{$tablet-portrait-col}) {
        &.twelfth, &.twelfth-x11, &.sixth, &.sixth-x5, &.fourth, &.fourth-x3, &.third, &.third-x2, &.half {
            width: 100%;
        }
        &.margin-twelfth, &.margin-twelfth-x11, &.margin-sixth, &.margin-sixth-x5, &.margin-fourth, &.margin-fourth-x3, &.margin-third, &.margin-third-x2, &.margin-half {
            margin: initial;
        }
    }
}
@media only screen and (max-width: $phone-breakpoint) {
    .col:not(.#{$phone-col}) {
        &.twelfth, &.twelfth-x11, &.sixth, &.sixth-x5, &.fourth, &.fourth-x3, &.third, &.third-x2, &.half {
            width: 100%;
        }
        &.margin-twelfth, &.margin-twelfth-x11, &.margin-sixth, &.margin-sixth-x5, &.margin-fourth, &.margin-fourth-x3, &.margin-third, &.margin-third-x2, &.margin-half {
            margin: initial;
        }
    }
}