.col {
    display: block;
    width: 100%;
    float: left;
    padding: $col-padding;
    &.no-padding {
        padding: 0;
    }
    &.twelfth {
        width: 8.333%;
    }
    &.twelfth-x11 {
        width: 91.666%;
    }
    &.twelfth-x7 {
        width: 58.333%;
    }
    &.twelfth-x5 {
        width: 41.666%;
    }
    &.eighth {
        width: 12.5%;
    }
    &.eighth-x7 {
        width: 87.5%;
    }
    &.eighth-x5 {
        width: 62.5%;
    }
    &.eighth-x3 {
        width: 37.5%;
    }
    &.sixth {
        width: 16.666%;
    }
    &.sixth-x5 {
        width: 83.333%;
    }
    &.fourth {
        width: 25%;
    }
    &.fourth-x3 {
        width: 75%;
    }
    &.third {
        width: 33.333%;
    }
    &.third-x2 {
        width: 66.666%;
    }
    &.half {
        width: 50%;
    }
    &.margin-twelfth {
        margin-left: 8.333%;
    }
    &.margin-twelfth-x11 {
        margin-left: 91.666%;
    }
    &.margin-twelfth-x7 {
        margin-left: 58.333%;
    }
    &.margin-twelfth-x5 {
        margin-left: 41.666%;
    }
    &.margin-eighth {
        margin-left: 12.5%;
    }
    &.margin-eighth-x7 {
        margin-left: 87.5%;
    }
    &.margin-eighth-x5 {
        margin-left: 62.5%;
    }
    &.margin-eighth-x3 {
        margin-left: 37.5%;
    }
    &.margin-sixth {
        margin-left: 16.666%;
    }
    &.margin-sixth-x5 {
        margin-left: 83.333%;
    }
    &.margin-fourth {
        margin-left: 25%;
    }
    &.margin-fourth-x3 {
        margin-left: 75%;
    }
    &.margin-third {
        margin-left: 33.333%;
    }
    &.margin-third-x2 {
        margin-left: 66.666%;
    }
    &.margin-half {
        margin-left: 50%;
    }
    &.float-right {
        float: right;
        &.margin-twelfth {
            margin: initial;
            margin-right: 8.333%;
        }
        &.margin-twelfth-x11 {
            margin: initial;
            margin-right: 91.666%;
        }
        &.margin-twelfth-x7 {
            margin: initial;
            margin-right: 58.333%;
        }
        &.margin-twelfth-x5 {
            margin: initial;
            margin-right: 41.666%;
        }
        &.margin-eighth {
            margin: initial;
            margin-right: 12.5%;
        }
        &.margin-eighth-x7 {
            margin: initial;
            margin-right: 87.5%;
        }
        &.margin-eighth-x5 {
            margin: initial;
            margin-right: 62.5%;
        }
        &.margin-eighth-x3 {
            margin: initial;
            margin-right: 37.5%;
        }
        &.margin-sixth {
            margin: initial;
            margin-right: 16.666%;
        }
        &.margin-sixth-x5 {
            margin: initial;
            margin-right: 83.333%;
        }
        &.margin-fourth {
            margin: initial;
            margin-right: 25%;
        }
        &.margin-fourth-x3 {
            margin: initial;
            margin-right: 75%;
        }
        &.margin-third {
            margin: initial;
            margin-right: 33.333%;
        }
        &.margin-third-x2 {
            margin: initial;
            margin-right: 66.666%;
        }
        &.margin-half {
            margin: initial;
            margin-right: 50%;
        }
    }
}
@media only screen and (max-width: $tablet-landscape-breakpoint) {
    .col {
        &.twelfth {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 8.333%;
            }
        }
        &.twelfth-x11 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 91.666%;
            }
        }
        &.twelfth-x7 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 58.333%;
            }
        }
        &.twelfth-x5 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 41.666%;
            }
        }
        &.eighth {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 12.5%;
            }
        }
        &.eighth-x7 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 87.5%;
            }
        }
        &.eighth-x5 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 62.5%;
            }
        }
        &.eighth-x3 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 37.5%;
            }
        }
        &.sixth {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 16.666%;
            }
        }
        &.sixth-x5 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 83.333%;
            }
        }
        &.fourth {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 25%;
            }
        }
        &.fourth-x3 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 75%;
            }
        }
        &.third {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 33.333%;
            }
        }
        &.third-x2 {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 66.666%;
            }
        }
        &.half {
            width: 100%;
            &-#{$tablet-landscape-affix} {
                width: 50%;
            }
        }
        &.margin-twelfth {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 8.333%;
            }
        }
        &.margin-twelfth-x11 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 91.666%;
            }
        }
        &.margin-twelfth-x7 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 58.333%;
            }
        }
        &.margin-twelfth-x5 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 41.666%;
            }
        }
        &.margin-eighth {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 12.5%;
            }
        }
        &.margin-eighth-x7 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 87.5%;
            }
        }
        &.margin-eighth-x5 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 62.5%;
            }
        }
        &.margin-eighth-x3 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 37.5%;
            }
        }
        &.margin-sixth {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 16.666%;
            }
        }
        &.margin-sixth-x5 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 83.333%;
            }
        }
        &.margin-fourth {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 25%;
            }
        }
        &.margin-fourth-x3 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 75%;
            }
        }
        &.margin-third {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 33.333%;
            }
        }
        &.margin-third-x2 {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 66.666%;
            }
        }
        &.margin-half {
            margin: initial;
            &-#{$tablet-landscape-affix} {
                margin-left: 50%;
            }
        }
        &.float-right {
            &.margin-twelfth {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 8.333%;
                }
            }
            &.margin-twelfth-x11 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 91.666%;
                }
            }
            &.margin-twelfth-x7 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 58.333%;
                }
            }
            &.margin-twelfth-x5 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 41.666%;
                }
            }
            &.margin-eighth {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 12.5%;
                }
            }
            &.margin-eighth-x7 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 87.5%;
                }
            }
            &.margin-eighth-x5 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 62.5%;
                }
            }
            &.margin-eighth-x3 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 37.5%;
                }
            }
            &.margin-sixth {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 16.666%;
                }
            }
            &.margin-sixth-x5 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 83.333%;
                }
            }
            &.margin-fourth {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 25%;
                }
            }
            &.margin-fourth-x3 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 75%;
                }
            }
            &.margin-third {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 33.333%;
                }
            }
            &.margin-third-x2 {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 66.666%;
                }
            }
            &.margin-half {
                margin: initial;
                &-#{$tablet-landscape-affix} {
                    margin-right: 50%;
                }
            }
        }
    }
}
@media only screen and (max-width: $tablet-portrait-breakpoint) {
    .col {
        &.twelfth {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 8.333%;
            }
        }
        &.twelfth-x11 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 91.666%;
            }
        }
        &.twelfth-x7 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 58.333%;
            }
        }
        &.twelfth-x5 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 41.666%;
            }
        }
        &.eighth {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 12.5%;
            }
        }
        &.eighth-x7 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 87.5%;
            }
        }
        &.eighth-x5 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 62.5%;
            }
        }
        &.eighth-x3 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 37.5%;
            }
        }
        &.sixth {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 16.666%;
            }
        }
        &.sixth-x5 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 83.333%;
            }
        }
        &.fourth {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 25%;
            }
        }
        &.fourth-x3 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 75%;
            }
        }
        &.third {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 33.333%;
            }
        }
        &.third-x2 {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 66.666%;
            }
        }
        &.half {
            &-#{$tablet-landscape-affix} {
                width: 100%;
            }
            &-#{$tablet-portrait-affix} {
                width: 50%;
            }
        }
        &.margin-twelfth {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 8.333%;
            }
        }
        &.margin-twelfth-x11 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 91.666%;
            }
        }
        &.margin-twelfth-x7 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 58.333%;
            }
        }
        &.margin-twelfth-x5 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 41.666%;
            }
        }
        &.margin-eighth {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 12.5%;
            }
        }
        &.margin-eighth-x7 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 87.5%;
            }
        }
        &.margin-eighth-x5 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 62.5%;
            }
        }
        &.margin-eighth-x3 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 37.5%;
            }
        }
        &.margin-sixth {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 16.666%;
            }
        }
        &.margin-sixth-x5 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 83.333%;
            }
        }
        &.margin-fourth {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 25%;
            }
        }
        &.margin-fourth-x3 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 75%;
            }
        }
        &.margin-third {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 33.333%;
            }
        }
        &.margin-third-x2 {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 66.666%;
            }
        }
        &.margin-half {
            &-#{$tablet-landscape-affix} {
                margin: initial;
            }
            &-#{$tablet-portrait-affix} {
                margin-left: 50%;
            }
        }
        &.float-right {
            &.margin-twelfth {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 8.333%;
                }
            }
            &.margin-twelfth-x11 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 91.666%;
                }
            }
            &.margin-twelfth-x7 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 58.333%;
                }
            }
            &.margin-twelfth-x5 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 41.666%;
                }
            }
            &.margin-eighth {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 12.5%;
                }
            }
            &.margin-eighth-x7 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 87.5%;
                }
            }
            &.margin-eighth-x5 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 62.5%;
                }
            }
            &.margin-eighth-x3 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 37.5%;
                }
            }
            &.margin-sixth {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 16.666%;
                }
            }
            &.margin-sixth-x5 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 83.333%;
                }
            }
            &.margin-fourth {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 25%;
                }
            }
            &.margin-fourth-x3 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 75%;
                }
            }
            &.margin-third {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 33.333%;
                }
            }
            &.margin-third-x2 {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 66.666%;
                }
            }
            &.margin-half {
                &-#{$tablet-landscape-affix} {
                    margin: initial;
                }
                &-#{$tablet-portrait-affix} {
                    margin-right: 50%;
                }
            }
        }
    }
}
@media only screen and (max-width: $phone-breakpoint) {
    .col {
        &.twelfth {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 8.333%;
            }
        }
        &.twelfth-x11 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 91.666%;
            }
        }
        &.twelfth-x7 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 58.333%;
            }
        }
        &.twelfth-x5 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 41.666%;
            }
        }
        &.eighth {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 12.5%;
            }
        }
        &.eighth-x7 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 87.5%;
            }
        }
        &.eighth-x5 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 62.5%;
            }
        }
        &.eighth-x3 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 37.5%;
            }
        }
        &.sixth {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 16.666%;
            }
        }
        &.sixth-x5 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 83.333%;
            }
        }
        &.fourth {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 25%;
            }
        }
        &.fourth-x3 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 75%;
            }
        }
        &.third {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 33.333%;
            }
        }
        &.third-x2 {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 66.666%;
            }
        }
        &.half {
            &-#{$tablet-portrait-affix} {
                width: 100%;
            }
            &-#{$phone-affix} {
                width: 50%;
            }
        }
        &.margin-twelfth {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 8.333%;
            }
        }
        &.margin-twelfth-x11 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 91.666%;
            }
        }
        &.margin-twelfth-x7 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 58.333%;
            }
        }
        &.margin-twelfth-x5 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 41.666%;
            }
        }
        &.margin-eighth {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 12.5%;
            }
        }
        &.margin-eighth-x7 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 87.5%;
            }
        }
        &.margin-eighth-x5 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 62.5%;
            }
        }
        &.margin-eighth-x3 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 37.5%;
            }
        }
        &.margin-sixth {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 16.666%;
            }
        }
        &.margin-sixth-x5 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 83.333%;
            }
        }
        &.margin-fourth {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 25%;
            }
        }
        &.margin-fourth-x3 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 75%;
            }
        }
        &.margin-third {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 33.333%;
            }
        }
        &.margin-third-x2 {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 66.666%;
            }
        }
        &.margin-half {
            &-#{$tablet-portrait-affix} {
                margin: initial;
            }
            &-#{$phone-affix} {
                margin-left: 50%;
            }
        }
        &.float-right {
            &.margin-twelfth {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 8.333%;
                }
            }
            &.margin-twelfth-x11 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 91.666%;
                }
            }
            &.margin-twelfth-x7 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 58.333%;
                }
            }
            &.margin-twelfth-x5 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 41.666%;
                }
            }
            &.margin-eighth {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 12.5%;
                }
            }
            &.margin-eighth-x7 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 87.5%;
                }
            }
            &.margin-eighth-x5 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 62.5%;
                }
            }
            &.margin-eighth-x3 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 37.5%;
                }
            }
            &.margin-sixth {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 16.666%;
                }
            }
            &.margin-sixth-x5 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 83.333%;
                }
            }
            &.margin-fourth {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 25%;
                }
            }
            &.margin-fourth-x3 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 75%;
                }
            }
            &.margin-third {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 33.333%;
                }
            }
            &.margin-third-x2 {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 66.666%;
                }
            }
            &.margin-half {
                &-#{$tablet-portrait-affix} {
                    margin: initial;
                }
                &-#{$phone-affix} {
                    margin-right: 50%;
                }
            }
        }
    }
}