.col {
    display: block;
    width: 100%;
    float: left;
    padding: $column-padding;
    &.twelfth {
        width: 8.333%;
    }
    &.sixth {
        width: 16.667%;
    }
    &.fourth {
        width: 25%;
    }
    &.third {
        width: 33.333%;
    }
    &.half {
        width: 50%;
    }
    &.margin-twelfth {
        margin-left: 8.333%
    }
    &.margin-sixth {
        margin-left: 16.667%
    }
    &.margin-fourth {
        margin-left: 25%
    }
    &.margin-third {
        margin-left: 33.333%
    }
    &.margin-half {
        margin-left: 50%
    }
    &.float-right {
        float: right;
        &.margin-twelfth {
            margin-left: initial;
            margin-right: 8.333%
        }
        &.margin-sixth {
            margin-left: initial;
            margin-right: 16.667%
        }
        &.margin-fourth {
            margin-left: initial;
            margin-right: 25%
        }
        &.margin-third {
            margin-left: initial;
            margin-right: 33.333%
        }
        &.margin-half {
            margin-left: initial;
            margin-right: 50%
        }
    }
}
@media only screen and (max-width: $tablet-landscape) {
    .col {
        &.twelfth, &.sixth, &.fourth, &.third, &.half {
            width: 100%;
        }
        &.twelfth-md {
            width: 8.333%;
        }
        &.sixth-md {
            width: 16.667%;
        }
        &.fourth-md {
            width: 25%;
        }
        &.third-md {
            width: 33.333%;
        }
        &.half-md {
            width: 50%;
        }
        &.margin-twelfth, &.margin-sixth, &.margin-fourth, &.margin-third, &.margin-half {
            margin: initial;
        }
        &.margin-twelfth-md {
            margin-left: 8.333%
        }
        &.margin-sixth-md {
            margin-left: 16.667%
        }
        &.margin-fourth-md {
            margin-left: 25%
        }
        &.margin-third-md {
            margin-left: 33.333%
        }
        &.margin-half-md {
            margin-left: 50%
        }
        &.float-right {
            &.margin-twelfth-md {
                margin-left: initial;
                margin-right: 8.333%
            }
            &.margin-sixth-md {
                margin-left: initial;
                margin-right: 16.667%
            }
            &.margin-fourth-md {
                margin-left: initial;
                margin-right: 25%
            }
            &.margin-third-md {
                margin-left: initial;
                margin-right: 33.333%
            }
            &.margin-half-md {
                margin-left: initial;
                margin-right: 50%
            }
        }
    }
}
@media only screen and (max-width: $tablet-portrait) {
    .col {
        &.twelfth-md, &.sixth-md, &.fourth-md, &.third-md, &.half-md {
            width: 100%;
        }
        &.twelfth-sm {
            width: 8.333%;
        }
        &.sixth-sm {
            width: 16.667%;
        }
        &.fourth-sm {
            width: 25%;
        }
        &.third-sm {
            width: 33.333%;
        }
        &.half-sm {
            width: 50%;
        }
        &.margin-twelfth-md, &.margin-sixth-md, &.margin-fourth-md, &.margin-third-md, &.margin-half-md {
            margin: initial;
        }
        &.margin-twelfth-sm {
            margin-left: 8.333%
        }
        &.margin-sixth-sm {
            margin-left: 16.667%
        }
        &.margin-fourth-sm {
            margin-left: 25%
        }
        &.margin-third-sm {
            margin-left: 33.333%
        }
        &.margin-half-sm {
            margin-left: 50%
        }
        &.float-right {
            &.margin-twelfth-sm {
                margin-left: initial;
                margin-right: 8.333%
            }
            &.margin-sixth-sm {
                margin-left: initial;
                margin-right: 16.667%
            }
            &.margin-fourth-sm {
                margin-left: initial;
                margin-right: 25%
            }
            &.margin-third-sm {
                margin-left: initial;
                margin-right: 33.333%
            }
            &.margin-half-sm {
                margin-left: initial;
                margin-right: 50%
            }
        }
    }
}
@media only screen and (max-width: $phone) {
    .col {
        &.twelfth-sm, &.sixth-sm, &.fourth-sm, &.third-sm, &.half-sm {
            width: 100%;
        }
        &.twelfth-xs {
            width: 8.333%;
        }
        &.sixth-xs {
            width: 16.667%;
        }
        &.fourth-xs {
            width: 25%;
        }
        &.third-xs {
            width: 33.333%;
        }
        &.half-xs {
            width: 50%;
        }
        &.margin-twelfth-sm, &.margin-sixth-sm, &.margin-fourth-sm, &.margin-third-sm, &.margin-half-sm {
            margin: initial;
        }
        &.margin-twelfth-xs {
            margin-left: 8.333%
        }
        &.margin-sixth-xs {
            margin-left: 16.667%
        }
        &.margin-fourth-xs {
            margin-left: 25%
        }
        &.margin-third-xs {
            margin-left: 33.333%
        }
        &.margin-half-xs {
            margin-left: 50%
        }
        &.float-right {
            &.margin-twelfth-xs {
                margin-left: initial;
                margin-right: 8.333%
            }
            &.margin-sixth-xs {
                margin-left: initial;
                margin-right: 16.667%
            }
            &.margin-fourth-xs {
                margin-left: initial;
                margin-right: 25%
            }
            &.margin-third-xs {
                margin-left: initial;
                margin-right: 33.333%
            }
            &.margin-half-xs {
                margin-left: initial;
                margin-right: 50%
            }
        }
    }
}