.#{$prefix} {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        &:before,
        &:after {
            @extend *;
            display: inline-block;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        @include animation;
        img {
            border: none;
            outline: none;
        }
    }
}
