$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$font-stack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$column-padding: 10px;
$tablet-landscape-col: md;
$tablet-portrait-col: sm;
$phone-col: xs;