$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$font-stack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$col-padding: 10px;
$tablet-landscape-affix: md;
$tablet-portrait-affix: sm;
$phone-affix: xs;